<link rel="import" href="../../../../bower_components/polymer/polymer.html">

<dom-module id="adventure-everest">
  <template>
    <style>
      :host {
        width: 100%;
        padding-bottom: 80px;
      }
      google-map {
        width: 100%;
        height: 600px;
      }
    </style>
    <section>
      <img src="/src/assets/images/adventure_everest.svg">
    </section>
    <!-- <google-map 
      latitude="27.992509"
      longitude="86.891333"
      fitToMarkers
      additional-map-options='{"mapTypeId":"satellite"}'
      api-key="AIzaSyBjg5A5CBEDyP2-7ae_3gatO5lUKswyt0Y">
      <google-map-marker
        latitude="28.003149"
        longitude="86.852837">
      </google-map-marker>
      <google-map-poly fill-color="blue">
        <google-map-point
          latitude="28.003149"
          longitude="86.852837">
        </google-map-point>
        <google-map-point
          latitude="27.985237"
          longitude="86.880153">
        </google-map-point>
        <google-map-point
          latitude="27.983426"
          longitude="86.884917">
        </google-map-point>
        <google-map-point
          latitude="27.982561"
          longitude="86.889776">
        </google-map-point>
        <google-map-point
          latitude="27.987792"
          longitude="86.876199">
        </google-map-point>
      </google-map-poly>
      <google-map-marker
        latitude="27.987792"
        longitude="86.876199">
      </google-map-marker>
      <google-map-marker
        latitude="27.980024"
        longitude="86.902113">
      </google-map-marker>
      <google-map-marker
        latitude="27.972928"
        longitude="86.911407">
      </google-map-marker>
      <google-map-marker
        latitude="27.968957"
        longitude="86.918666">
      </google-map-marker>
      <google-map-marker
        latitude="27.973921"
        longitude="86.929951">
      </google-map-marker>
      <google-map-marker
        latitude="27.987287"
        longitude="86.925222">
      </google-map-marker>
      <google-map-marker
        latitude="27.988068"
        longitude="86.925022">
      </google-map-marker>
    </google-map> -->
  </template>
  <script>
    class AdventureEverest extends Polymer.Element {   
        static get is() {
            return 'adventure-everest';
        }

        ready() {
            super.ready();
        }

        static get properties() {
            return {
              
            }
        }
    }

    window.customElements.define(AdventureEverest.is, AdventureEverest);
  </script>

</dom-module>