<link rel="import" href="../../../bower_components/polymer/polymer-element.html">

<dom-module id="nf-account">
    <template>
        <firebase-auth id="auth" user="{{user}}" provider="google" on-error="handleError"></firebase-auth>
        <template is="dom-if" if="!user.isLoggedIn">
            <style>

            </style>
            <nf-login></nf-login>
        </template>
        <template is="dom-if" if="user.isLoggedIn">
            <style>

            </style>

            <a href="/user-dash.html"></a>

        </template>
    </template>
    <script>
        /**
         * @customElement
         * @polymer
         */
        class NfUser extends Polymer.Element {
            static get is() { return 'nf-user'; }
            static get properties() {
                return {
                    login: this.$.auth.signInWithEmailAndPassword(email, password).then(function(response) {_pageChanged("user-dash");})
                }
            }
        }

        window.customElements.define(NfUser.is, NfUser);

    </script>