<link rel="import" href="../../../bower_components/polymer/polymer-element.html">

<dom-module id="nf-account">
    <template>
        <firebase-auth id="auth" user="{{user}}" provider="google" on-error="handleError"></firebase-auth>
        <template is="dom-if" if="!user.isLoggedIn">
            <style>
                :host {
                    align-self: center;
                }
            </style>

            <paper-button on-tap='toggleForm'>Login</paper-button>

            <paper-dialog id="form" entry-animation="scale-up-animation" exit-animation="fade-out-animation" with-backdrop>
                <h2>Login</h2>
            </paper-dialog>

        </template>
        <template is="dom-if" if="user.isLoggedIn">
            <style>

            </style>

            <!-- Profile Picture -->
            <!-- Profile Specific Controls -->

        </template>
    </template>
    <script>
        /**
         * @customElement
         * @polymer
         */
        class NfAccount extends Polymer.Element {
            static get is() { return 'nf-account'; }
            toggleForm() {
                document.getElementById('form').toggle();
            }
        }

        window.customElements.define(NfAccount.is, NfAccount);

    </script>
</dom-module>