<link rel="import" href="../../../bower_components/polymer/polymer-element.html">

<dom-module id="nf-account">
    <template>
        <firebase-auth id="auth" user="{{user}}" provider="google" on-error="handleError"></firebase-auth>
        <template is="dom-if" if="!user.isLoggedIn">
            <style>

            </style>

            <button on-click="showLogin">Login</button>

        </template>
        <template is="dom-if" if="user.isLoggedIn">
            <style>

            </style>

            <!-- Profile Picture -->
            <!-- Profile Specific Controls -->

        </template>
    </template>
    <script>
        /**
         * @customElement
         * @polymer
         */
        class NfAccount extends Polymer.Element {
            static get is() { return 'nf-account'; }

            showLogin() {
                var loginForm = document.getElementById('nfLoginForm');
                if(loginForm) {
                    this.hide = !this.hide;
                }
            }
        }

        window.customElements.define(NfAccount.is, NfAccount);

    </script>