<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="">

<dom-module id="nf-hero">
    <template>
        <style>
            :host {
                display: flex;
                flex-direction: row;
                width: 100%;
            }
            ::slotted(h1){
                font-size: 50px;
                line-height: 60px;
            }
            section{
                box-sizing: border-box;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: bottom center;
                height: calc(100vh - var(--header-height));
                margin-top: var(--header-height);
                width: 100%;
                padding: 60px 20px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                color: var(--white);
                /*TODO: remove margin-bottom*/
                margin-bottom: 100px;
            }

        </style>
        <section style$="background-image: url( [[ backgroundimage ]] );">
            <slot></slot>
        </section>
    </template>

    <script>
        /**
         * @customElement
         * @polymer
         */
        class NfHero extends Polymer.Element {
            static get is() { return 'nf-hero'; }

            static get properties() {
                return {
                    backgroundimage: {
                        type: String,
                        value: ""
                    }
                }
            }
        }

        window.customElements.define(NfHero.is, NfHero);
    </script>
</dom-module>
