<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="">

<dom-module id="nf-hero">
    <template>
        <style>
            :host {
                display: flex;
                flex-direction: row;
                width: 100%;
            }
            ::slotted(*){
                font-size: 30px;
                line-height: 60px;
                z-index: 10;
            }
            section{
                box-sizing: border-box;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: bottom center;
                height: calc(100vh - var(--header-height));
                margin-top: var(--header-height);
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                color: var(--white);
                position: relative;
            }
            .filtered--false{
                display: none;
            }
            .filtered--true{
                width: inherit;
                height: inherit;
                background-color: rgba(0,0,0,.5);
                z-index: 10;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
            }

        </style>
        <section style$="background-image: url( [[ backgroundimage ]] );">
            <div class$="filtered--[[isfiltered]]" style$=" background-color: rgba(0,0,0, .[[filteropacity]] );"></div>
                <slot></slot>
        </section>
    </template>

    <script>
        /**
         * @customElement
         * @polymer
         */
        class NfHero extends Polymer.Element {
            static get is() { return 'nf-hero'; }

            static get properties() {
                return {
                    backgroundimage: {
                        type: String,
                        value: ""
                    },
                    isfiltered: {
                        type: String,
                        value: "false"
                    },
                    filteropacity: {
                        type: Number,
                        value: 5
                    }
                }
            }
        }

        window.customElements.define(NfHero.is, NfHero);
    </script>
</dom-module>
