<link rel="import" href="../../../bower_components/polymer/polymer-element.html">

<dom-module id="nf-login">
    <template>
        <style include="shared-styles">
            :host {
                display: flex;
                flex-direction: column;
            }
            input[text] {
                width: 90%;
                height: 50px;
            }
        </style>
        <iron-form>
            <form>
                <input type="text" name="email" placeholder="Email">
                <input type="text" name="password" placeholder="Password">
                <paper-button raised onclick="submitLogin">Login</paper-button>
            </form>

        </iron-form>
    </template>

    <script>
        class NfLogin extends Polymer.Element {
            static get is() { return 'nf-login'; }
            static get properties() {
                function submitLogin() {
                    document.getElementById('iron-form').submit();
                }
            }
        }

        window.customElements.define(NfLogin.is, NfLogin);
    </script>
</dom-module>