<link rel="import" href="../../../bower_components/polymer/polymer-element.html">

<dom-module id="nf-tile">
    <template>
        <style>
            :host {
                width: 100%;
            }
            .font-default ::slotted(*) {
                color: var(--gray);
            }
            .font-inverse ::slotted(p),.font-inverse ::slotted(h1),.font-inverse ::slotted(h2),.font-inverse ::slotted(h3),.font-inverse ::slotted(h4),.font-inverse ::slotted(h5),.font-inverse ::slotted(h6) {
                color: var(--white) !important;
            }
            section{
                box-sizing: border-box;
                width: 100%;
            }

            section ::slotted(:last-child){
                margin-bottom: 0 !important;
            }

            @media (min-width: 750px) {

            }
            @media (min-width: 1000px) {

            }
            @media (min-width: 1200px) {

            }

            @media (max-width: 749px) {

            }
            @media (min-width: 750px) and (max-width: 999px) {

            }
            @media (min-width: 1000px) and (max-width: 1199px) {

            }
            @media (min-width: 1200px) {

            }

        </style>

        <section class$="font-[[fontcolor]]">
            <slot></slot>
        </section>

    </template>

    <script>
        /**
         * @customElement
         * @polymer
         */
        class NfTile extends Polymer.Element {
            static get is() { return 'nf-tile'; }

            static get properties() {
                return {
                    x: {
                        type: Number
                    },
                    xspan: {
                        type: Number,
                        value: 1
                    },
                    y: {
                        type: Number
                    },
                    yspan: {
                        type: Number,
                        value: 1
                    },
                    breakpointorder: {
                        type: String,
                        value: "initial"
                    },
                    fontcolor: {
                        type: String,
                        value: "default"
                    }
                }
            }

            ready() {
                super.ready();
                if (this.x) this.style.gridColumnStart = this.x;
                this.style.gridColumnEnd = 'span ' + this.xspan;
                if (this.y) this.style.gridRowStart = this.y;
                this.style.gridRowEnd = 'span ' + this.yspan;

                this.style.order = this.breakpointorder;
            }

        }

        window.customElements.define(NfTile.is, NfTile);
    </script>
</dom-module>
