<link rel="import" href="../../../bower_components/polymer/polymer-element.html">

<dom-module id="nf-account">
    <template>
        <style include="nf-styles">
            :host {
                align-self: center;
            }

            iron-form {
                margin: 0;
                padding: 1.5em;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
            }

            paper-dialog {
                min-width: 300px;
                max-width: 400px;
                border-radius: 15px;
            }

            paper-dialog paper-button {
                align-self: flex-end;
                background-color: var(--blue);
                color: var(--white);
            }

            #profile {
                /* width: 50px;
                height: 50px; */
                flex-direction: column;
                justify-content: center;
            }

            #profile:hover .profile-links {
                display: block;
            }

            /* #myProfile {
                display: flex;
                white-space: nowrap;
                justify-content: center;
                align-items: center;
            } */

            .profile-links {
                background-color: #f4f4f4;
                display: none;
                width: 150px;
                flex-direction: column;
            }

            .profile-links ul {
                width: 100%;
                padding: 0;
                margin: 0;
            }

            .profile-links ul li,
            .profile-links paper-button {
                list-style: none;
                width: 100%;
                text-align: center;
                padding: 0;
                height: 40px;
            }

            .profile-links li:hover,
            .profile-links li paper-button:hover {
                background-color: var(--gray);
                color: var(--white);
                cursor: pointer;
            }

            .profile-links li:hover paper-button {
                color: var(--white);
            }

            .buttons {
                display: flex;
            }
        </style>
        <firebase-auth id="auth" app-name="nerdfit" user="{{user}}" on-error="handleError" signed-in="{{signedIn}}"></firebase-auth>
        <firebase-document id="userQuery" app-name="nerdfit" path="/users/[[user.uid]]" data="{{userData}}">
        </firebase-document>
        <!-- <firebase-storage-ref id="profilePicture"  path="users/[[user.uid]]" metadata="{{metadata}}" storage-uri="{{gsUri}}" download-url="{{imgSrcUrl}}">
        </firebase-storage-ref> -->
        <firebase-document id="badgesQuery" app-name="nerdfit" path="/badges" data="{{badgeData}}">
        </firebase-document>

        <section id="login" selected="[[page]]" hidden="{{signedIn}}">
            <paper-button on-tap='toggleLoginForm'>Login</paper-button>
            <paper-dialog id="form" entry-animation="scale-up-animation" exit-animation="fade-out-animation" with-backdrop>
                <iron-form id="loginForm" on-iron-form-presubmit="formPreSubmit">
                    <form>
                        <block>
                            <label html-for="loginEmail">Email</label>
                            <input type="text" id="loginEmail" type="email" min-length="5" />
                        </block>
                        <block>
                            <label html-for="loginPassword">Password</label>
                            <input id="loginPassword" type="password" min-length="5" />
                        </block>
                        <div class="buttons">
                            <paper-button class="btn-primary" on-tap="submitLogin" raised>Login</paper-button>
                            <paper-button class="btn-link" on-tap="toggleLoginForm">Cancel</paper-button>
                        </div>
                    </form>
                </iron-form>
            </paper-dialog>
        </section>
        <section id="profile" selected="[[page]]" hidden="{{!signedIn}}">
            <paper-button raised>Account</paper-button>
            
            <div class="profile-links">
                <ul>
                    <li>
                        <paper-button on-tap="toggleProfileForm">Edit Profile</paper-button>
                    </li>
                    <li>
                        <paper-button on-tap="toggleFriends">Friends</paper-button>
                    </li>
                    <li>
                        <paper-button on-tap="logoutUser">Logout</paper-button>
                    </li>
                </ul>
            </div>
            <paper-dialog id="profileEdit" entry-animation="scale-up-animation" exit-animation="fade-out-animation" with-backdrop>
                <iron-form id="editProfileForm" on-iron-form-presubmit="formPreSubmit">
                    <form>
                        <block>
                            <label for="newFirstName">First Name</label>
                            <input type="text" name="newFirstName" id="newFirstName" required />
                        </block>
                        <block>
                            <label for="newLastName">New Name</label>
                            <input type="text" name="newLastName" id="newLastName" required />
                        </block>
                        <block>
                            <label for="newScreenName">First Name</label>
                            <input type="text" name="newScreenName" id="newScreenName" required />
                        </block>
                        <!-- add Device -->
                        <paper-button on-tap="submitProfileEdit" raised>Submit</paper-button>
                    </form>
                </iron-form>
            </paper-dialog>
            <paper-dialog id="friendsEdit" entry-animation="scale-up-animation" exit-animation="fade-out-animation" with-backdrop>
                <nf-friends user-data="{{userData}}"></nf-friends>
            </paper-dialog>
        </section>
    </template>
    <script>
        /**
         * @customElement
         * @polymer
         */
        class NfAccount extends Polymer.Element {
            static get is() {
                return 'nf-account';
            }
            static get properties() {
                return {
                    signedIn: {
                        type: Boolean,
                        notify: true
                    },
                    userData: {
                        type: Object,
                        value: function () {
                            return {
                                'achievements.badges': {}
                            };
                        },
                        notify: true
                    },
                    badgeData: {
                        type: Object,
                        observer: "_badgeDataChanged"
                    },
                    tempBadges: Array,
                    badges: {
                        type: Array,
                        value: []
                    },
                    hasImg: Boolean
                }
            }
            toggleLoginForm() {
                this.$.form.toggle();
            }
            toggleProfileForm() {
                this.$.profileEdit.toggle();
            }
            // _changePhoto(path, data, key) {
            //     key = key || null;
            //     var doc = this.$.query;
            //     doc.path = null;
            //     doc.data = data;
            //     doc.saveValue(path, key).then(() => {
            //         var photo = this.$.photo;
            //         var metadata = "";
            //         photo.path = "users/" + path;
            //         photo.put("../assets/images/noImg.png", metadata);
            //         window.location.pathname = "dashboard";
            //     }).catch(function (error) {
            //         console.log(error);
            //     })
            submitLogin() {
                var email = this.$.loginEmail.value;
                var password = this.$.loginPassword.value;
                var page = this.page;
                if (email && password) {
                    this.$.auth.signInWithEmailAndPassword(email, password)
                        .then((response) => {
                            this.$.form.close();
                            window.location.pathname = "dashboard";
                        })
                        .catch(function (error) {
                            console.log(error);
                            alert("Incorrect Username and/or Password.  Please Try again.");
                        });
                }
            }
            static get observers() {
                return [
                    '_badgeDataChanged(badgeData)',
                    '_organizeBadges(tempBadges, userData.achievements.badges, badges)',
                    '_userDataChanged(user.*)'
                ]
            }
            _userDataChanged(user) {
                if (user.imgSrc) {

                }
            }
            _badgeDataChanged(badges) {
                this.tempBadges = Object.keys(badges).map(key => badges[key]);
            }
            _organizeBadges(tempBadges, userData, badges) {
                if (tempBadges && userData) {
                    for (var i = 0; i < userData.length; i++) {
                        for (var x = 0; x < tempBadges.length; x++) {
                            if (userData[i] === tempBadges[x].id) {
                                this.push("badges", tempBadges[x]);
                                continue;
                            }
                        }
                    }
                    this.userData.badges = this.badges;
                    console.log(this.userData);
                }
            }
            logoutUser() {
                this.$.auth.signOut();
                window.location.pathname = 'home';
            }
        }

        window.customElements.define(NfAccount.is, NfAccount);
    </script>
</dom-module>