<link rel="import" href="../../../bower_components/polymer/polymer-element.html">

<dom-module id="nf-add-friends">
  <template>
      <style>
        :host {
          width: 95%;
          margin: auto;
        }
      </style>
      <firebase-document 
        id="friendQuery" 
        app-name="nerdfit">
      </firebase-document>
      <div class="add-friends-container">
			<template is="dom-repeat" items="{{allUsers}}">
        <div class="person">
            <div class="person-name">
              <p>{{item.firstName}} {{item.lastName}}</p>
            </div>
            <paper-button id="[[item.id]]" on-tap="addFriend">Add Friend</paper-button>
        </div>
				<paper-button class="btn-primary" raised>Add</paper-button>
				<paper-button on-tap="removeFromList">Remove</paper-button>
			</template>
      </div>
  </template>
  <script>
  /**
         * @customElement
         * @polymer
         */
        class NfAddFriends extends Polymer.Element {
            static get is() { return 'nf-add-friends'; }
            
            ready() {
              super.ready();
              var doc = this.$.friendQuery;
              doc._initializeStoredValue()
              doc.getStoredValue(doc.path).then((response) => {
                console.log(response);
                this.users = response;
              });
            }

            static get properties() {
                return {
                  // userData: Object,
                  users: {
                    type: Object,
                    value: {}
                  }
                }
            }
            static get observers() {
              return [
                "_userDataChanged(userData.*)",
                "_allUsersChanged(users.*)"
              ]
            }
            _userDataChanged(user) {
              // console.log(user);
            }
            _allUsersChanged(users) {
              console.log(users);
            }
        }

        window.customElements.define(NfAddFriends.is, NfAddFriends);
  </script>
</dom-module>