<link rel="import" href="../../../bower_components/polymer/polymer-element.html">

<dom-module id="nf-add-friends">
  <template>
      <style>
        :host {
          width: 95%;
          margin: auto;
        }
      </style>
      <!-- <firebase-query
        id="addFriendsQuery" 
        app-name="nerdfit"
        path="users/"
        data="{{allUsers}}"
        log>
      </firebase-query> -->
      <div class="add-friends-container">
			<template is="dom-repeat" items="{{allUsers}}">
        <div class="person">
            <div class="person-name">
              <p>{{item.firstName}} {{item.lastName}}</p>
            </div>
            <paper-button id="[[item.id]]" on-tap="addFriend">Add Friend</paper-button>
        </div>
				<paper-button class="btn-primary" raised>Add</paper-button>
				<paper-button on-tap="removeFromList">Remove</paper-button>
      </template>
      </div>
  </template>
  <script>
  /**
         * @customElement
         * @polymer
         */
        class NfAddFriends extends Polymer.Element {
            static get is() { return 'nf-add-friends'; }
            
            ready() {
              super.ready();
            }
            attached() {
              super.attached();
              // var doc = this.$.friendQuery.db;
              // var docRef = doc.ref("users");
              // docRef.on("value", (snap) => {
              //   console.log(snap.val());
              // }, (err) => {
              //   console.log("Error: ", err.data);
              // });
            }

            static get properties() {
                return {
                  // userData: Object,
                  allUsers: {
                    type: Array,
                    value: []
                  }
                }
            }
            static get observers() {
              return [
                "_userDataChanged(userData.*)",
                "_allUsersChanged(allUsers.*)"
              ]
            }
            _userDataChanged(user) {
              // console.log(user);
            }
            _allUsersChanged(users) {
              console.log(users);
            }
            addFriend(e) {
              console.log(e);
              var db = this.$.addFriendsQuery.db;
              var ref = db.ref("users");
              ref.once("value", snapshot => {
                console.log(snapshot.val());
              })
            }
        }

        window.customElements.define(NfAddFriends.is, NfAddFriends);
  </script>
</dom-module>