<link rel="import" href="../../../bower_components/polymer/polymer-element.html">

<dom-module id="nf-account">
    <template>
        <style>
            :host {
                align-self: center;
            }
            iron-form {
                margin: 0;
                padding: 1.5em;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
            }
            paper-dialog {
                min-width: 300px;
                max-width: 400px;
                border-radius: 15px;
            }
            paper-dialog paper-button {
                align-self: flex-end;
                background-color: var(--blue);
                color: var(--white);
            }
            #profile {
                width: 8em;
                flex-direction: column;
                justify-content: center;
            }
            #profile-image {
                display: flex;
                justify-content: flex-end;
            }
            #profile:hover .profile-links {
                display: flex;
            }
            .profile-links {
                background-color: var(--white);
                display: none;
                flex-direction: column;
            }
            .profile-links ul {
                width: 100%;
                padding: 0;
                margin: 0;
            }
            .profile-links ul li {
                list-style: none;
                width: 100%;
                text-align: center;
            }
            .profile-links li:hover {
                background-color: var(--gray);
                color: var(--white);
            }
            .buttons {
                display: flex;
            }
        </style>
        <firebase-auth id="auth" app-name="nerdfit" user="{{user}}" on-error="handleError" signed-in="{{signedIn}}"></firebase-auth>
        <firebase-document
                id="userQuery"
                app-name="nerdfit"
                path="/users/[[user.uid]]"
                data="{{userData}}">
        </firebase-document>
        <firebase-document
            id="badgesQuery"
            app-name="nerdfit"
            path="/badges"
            data="{{badgeData}}">
        </firebase-document>

        <section id="login" selected="[[page]]" hidden="{{signedIn}}">
            <paper-button on-tap='toggleLoginForm'>Login</paper-button>

            <paper-dialog id="form" entry-animation="scale-up-animation" exit-animation="fade-out-animation" with-backdrop>
                <iron-form id="loginForm" on-iron-form-presubmit="formPreSubmit">
                    <form>
                        <paper-input id="loginEmail" error-message="Invalid Email Address" label="Email" type="email" min-length="5"></paper-input>
                        <paper-input id="loginPassword" label="Password" type="password"></paper-input>
                        <div class="buttons">
                            <paper-button on-tap="submitLogin" raised >Login</paper-button>
                            <paper-button on-tap="newUser">Sign Up</paper-button>
                        </div>
                    </form>
                </iron-form>
            </paper-dialog>
            <paper-dialog id="signupForm" entry-animation="scale-up-animation" exit-animation="fade-out-animation">
                <iron-form id="signupForm" on-iron-form-presubmit="formPreSubmit">
                    <form>
                        <paper-input id="firstName" label="First Name" type="text" required></paper-input>
                        <paper-input id="lastName" label="Last Name" type="text" required></paper-input>
                        <paper-input id="userName" label="User Name" type="text" required></paper-input>
                        <paper-input id="email" label="Email" type="email" min-length="5" required></paper-input>
                        <paper-input id="password" label="Password" type="password" min-length="8" required></paper-input>
                        <div class="buttons">
                            <paper-button on-tap="submitSignup" raised>Submit</paper-button>
                            <paper-button on-tap="cancelSignup">Cancel</paper-button>
                        </div>
                    </form>
                </iron-form>
            </paper-dialog>
        </section>
        <section id="profile" style="width:20px; height:20px"  selected="[[page]]" hidden="{{!signedIn}}">
            <div id="profile-image">
                <template is="dom-if" if="{{hasImg}}">
                    <iron-image style="width:50px; height:50px;" sizing="contain" src="{{userData.imgSrc}}" ></iron-image>
                </template>
                <template is="dom-if" if="{{!hasImg}}">
                        <iron-image style="width:50px; height:50px;" sizing="contain" src="../assets/noImg.png" ></iron-image>
                </template>
            </div>
            <div class="profile-links">
                <ul>
                    <li><paper-button on-tap="toggleProfileForm">Edit Profile</paper-button></li>
                    <li><paper-button on-tap="toggleFriends">Friends</paper-button></li>
                    <li><paper-button on-tap="logoutUser">Logout</paper-button></li>
                </ul>
            </div>
            <paper-dialog id="profileEdit" entry-animation="scale-up-animation" exit-animation="fade-out-animation" with-backdrop>
                <iron-form id="editProfileForm" on-iron-form-presubmit="formPreSubmit">
                    <form>
                        <paper-input id="newFirstName" error-message="First name is required" label="First Name" type="text" min-length="2" required></paper-input>
                        <paper-input id="newLastName" error-message="Last name is required" label="Last Name" type="text" min-length="2" required></paper-input>
                        <paper-input id="newUserName" label="User Name" min-length="5"></paper-input>
                        <!-- add Device -->
                        <paper-button on-tap="submitProfileEdit" raised >Submit</paper-button>
                    </form>
                </iron-form>
            </paper-dialog>
        </section>
    </template>
    <script>
        /**
         * @customElement
         * @polymer
         */
        class NfAccount extends Polymer.Element {
            static get is() { return 'nf-account'; }
            static get properties() {
                return {
                    signedIn: {
                        type: Boolean,
                        notify: true
                    },
                    userData: {
                        type: Object,
                        value: function() {
                            return {
                                'achievements.badges': {}
                            };
                        },
                        notify: true
                    },
                    signUp: {
                        type: Boolean,
                        notify: true
                    },
                    page: {
                        type: String,
                        notify: true
                    },
                    badgeData: {
                        type: Object,
                        observer: "_badgeDataChanged"
                    },
                    tempBadges: Array,
                    badges: {
                        type: Array,
                        value: []
                    },
                    hasImg: Boolean
                }
            }
            toggleLoginForm() {
                this.$.form.toggle();
            }
            toggleProfileForm() {
                this.$.profileEdit.toggle();
            }
            addUser(path, data, key) {
                key = key || null;
                var doc = this.$.userQuery;
                doc.path = null;
                doc.data = data;
                doc.saveValue(path, key);
                return success;
            }
            submitSignup() {
                var user = {};
                var email = this.$.email.value;
                var password = this.$.password.value;
                var firstName = this.$.firstName.value;
                var lastName = this.$.lastName.value;
                var userName = this.$.userName.value;
                if(email && password) {
                    this.$.auth.createUserWithEmailAndPassword(email, password)
                        .then((response) => {
                            user.email = email;
                            user.firstName = firstName;
                            user.lastName = lastName;
                            user.userName = userName;
                            this.addUser("users", user, response.uid)
                            .then(() => {
                                this.$.signupForm.close();
                                window.location.pathname = "dashboard";
                            })
                            .catch((error) => {
                                console.log(error);
                            });
                        })
                        .catch(function(error){
                            console.log(error);
                        });
                }
            }
            submitLogin() {
                var email = this.$.loginEmail.value;
                var password = this.$.loginPassword.value;
                var page = this.page;
                if(email && password) {
                    this.$.auth.signInWithEmailAndPassword(email, password)
                        .then((response) => {
                            this.$.form.close();
                            window.location.pathname = "dashboard";
                        })
                        .catch(function(error){
                            console.log(error);
                            alert("Incorrect Username and/or Password.  Please Try again.");
                        });
                }
            }
            static get observers() {
                return [
                    '_badgeDataChanged(badgeData)',
                    '_organizeBadges(tempBadges, userData.achievements.badges, badges)',
                    '_userDataChanged(user.*)'
                ]
            }
            _userDataChanged(user) {
                if(user.imgSrc) {
                    
                }
            }
            _badgeDataChanged(badges) {
                this.tempBadges =  Object.keys(badges).map(key => badges[key]);
            }
            _organizeBadges(tempBadges, userData, badges) {
                if(tempBadges && userData) {
                    for(var i = 0; i < userData.length; i++) {
                        for(var x = 0; x < tempBadges.length; x++) {
                            if(userData[i] === tempBadges[x].id) {
                                this.push("badges", tempBadges[x]);
                                continue;
                            }
                        }
                    }
                    this.userData.badges = this.badges;
                    console.log(this.userData);
                }
            }
            newUser() {
                this.$.form.toggle();
                this.$.signupForm.toggle();
            }
            cancelSignup() {
                this.$.signupForm.toggle();
            }
            logoutUser() {
                this.$.auth.signOut();
                window.location.pathname = 'home';
            }
        }

        window.customElements.define(NfAccount.is, NfAccount);

    </script>
</dom-module>