<link rel="import" href="../../../bower_components/polymer/polymer-element.html">

<dom-module id="nf-add-friends">
  <template>
      <style include="shared-styles">
        :host {
          width: 95%;
          margin: auto;
        }
        .friendDetails{
            margin:0 0 0 2em;
        }
      </style>
      <div class="add-friends-container">
			<template is="dom-repeat" items="{{allUsers}}">
        <div class="person">
            <div class="person-name">
                <div>
                  <div>
                    <div>
                      <iron-icon class="lighter" icon="icons:add-circle-outline" title="Add Friend" id="[[item.id]]" on-tap="addFriend"></iron-icon> {{item.firstName}} {{item.lastName}} 
                    </div>
                    <iron-icon on-tap="showDetails" class="lighter" icon="icons:arrow-drop-down"></iron-icon>
                    <iron-icon on-tap="showDetails" class="lighter hide" icon="icons:arrow-drop-up"></iron-icon>
                  </div>
                  <div id="[[item.id]]" class="hide friendDetails">Email Address: [[item.email]]</div>
                </div>
				&lt;!&ndash;<paper-button class="btn-primary" raised>Add</paper-button>
				<paper-button on-tap="removeFromList">Remove</paper-button>&ndash;&gt;
            </template>-->
      </div>
  </template>
  <script>
  /**
         * @customElement
         * @polymer
         */
        class NfAddFriends extends Polymer.Element {
            static get is() { return 'nf-add-friends'; }
            
            ready() {
              super.ready();
            }
            attached() {
              super.attached();
              // var doc = this.$.friendQuery.db;
              // var docRef = doc.ref("users");
              // docRef.on("value", (snap) => {
              //   console.log(snap.val());
              // }, (err) => {
              //   console.log("Error: ", err.data);
              // });
            }

            static get properties() {
                return {
                  // userData: Object,
                  allUsers: {
                    type: Array,
                    value: []
                  }
                }
            }
            static get observers() {
              return [
                "_userDataChanged(userData.*)",
                "_allUsersChanged(allUsers.*)"
              ]
            }
            _userDataChanged(user) {
              // console.log(user);
            }
            _allUsersChanged(users) {
              console.log(users);
            }
            addFriend(e) {
              console.log(e);
              var db = this.$.addFriendsQuery.db;
              var ref = db.ref("users");
              ref.once("value", snapshot => {
                console.log(snapshot.val());
              })
            }
            showDetails(e){
                console.log(e);
                this.$.querySelector(e.id).classList.remove("hide");
                this.$.querySelector(e).classList.remove("hide");
            }
            findfriend(e){
                //Search database for friends.
            }
        }

        window.customElements.define(NfAddFriends.is, NfAddFriends);
  </script>
</dom-module>