<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="./nf-add-friends.html">

<dom-module id="nf-friend-card">
    <template>
        <style include="nf-styles">
             :host {
                width: 100%;
                height: 100%;
                box-shadow: 0px 0px 8px 4px rgba(199,197,199,1);
            }

            iron-image {
                width: 150px;
                height: 200px;
            }

            h2 iron-icon{
                --iron-icon-height: calc(var(--base-font-size) + calc(var(--font-step) * 3.5));
                --iron-icon-width: calc(var(--base-font-size) + calc(var(--font-step) * 3.5));
            }
            ul {
                margin-left:1em;
            }
            ul li{
                margin-bottom:0.5em;
            }
            .btn-primary {
                padding: 10px;
                font-weight: 600;
            }
            .btn-primary iron-icon {
                color: white;
                padding-right: 4px;
            }
        </style>

        <firebase-query 
            id="findFriends"
            app-name="nerdfit"
            path="users/[[user.uid]]/friends" 
            data="{{friendData}}">
        </firebase-query>

        <section>
            <div class="friend-list">
                <h2><iron-icon icon="social:people" title="Friend List"></iron-icon>Friends List</h2>
                <ul>
                    <template is="dom-repeat" items="{{friendData}}">
                        <li>{{item.firstName}} {{item.lastName}}</li>
                    </template>
                </ul>
                <paper-button class="btn-primary" raised on-tap="toggleFindFriends"><iron-icon icon="social:person-add"></iron-icon>Find Friends</paper-button>
            </div>
        </section>
        <paper-dialog id="findFriends" with-backdrop>
            <h2><iron-icon ></iron-icon> Find Friends</h2>
            <paper-dialog-scrollable>
                <nf-add-friends user-data={{userData}}></nf-add-friends>
            </paper-dialog-scrollable>
            <paper-button class="btn-link" on-tap="toggleFindFriends" raised>Close</paper-button>
        </paper-dialog>
    </template>
    <script>
        /**
         * @customElement
         * @polymer
         */
        class NfFriendCard extends Polymer.Element {
            static get is() {
                return 'nf-friend-card';
            }
            static get properties() {
                return {
                    userData: {
                        type: Object
                    },
                    friendData: {
                        type: Object
                    },
                    myFriends: {
                        type: Array
                    }
                }
            }
            static get observers() {
                return [
                    "_userDataChanged(userData.*)"
                ]
            }
            toggleFindFriends() {
                this.$.findFriends.toggle();
            }
            _friendDataChanged(friendData) {
                if(friendData.length > 0) {
                    doc = this.queryFriend;
                    for(var i = 0; i < friendData.length; i++) {
                        doc.path = "users/" + friendData[i];
                        doc.query().then((response) => {
                            this.myFriends.push(response);
                        }).catch((error) => {
                            console.log(error);
                        })
                    }
                }
            }
            _userDataChanged(newVal) {

            }
            _myFriendsChanged(myFriends) {
                console.log(myFriends);
            }
        }

        window.customElements.define(NfFriendCard.is, NfFriendCard);
    </script>
</dom-module>