<link rel="import" href="../../../bower_components/polymer/polymer-element.html">

<dom-module id="nf-friend-card">
    <template>
        <style include="nf-styles">
             :host {
                width: 100%;
                height: 100%;
                box-shadow: 0px 0px 8px 4px rgba(199,197,199,1);
            }

            iron-image {
                width: 150px;
                height: 200px;
            }

            h2 iron-icon{
                --iron-icon-height: calc(var(--base-font-size) + calc(var(--font-step) * 3.5));
                --iron-icon-width: calc(var(--base-font-size) + calc(var(--font-step) * 3.5));
            }

            ul {
                margin-left:1em;
            }
            ul li{
                margin-bottom:0.5em;
            }
            .btn-primary {
                padding: 10px;
                font-weight: 600;
            }
        </style>

        <firebase-query 
            id="findFriends"
            app-name="nerdfit"
            path="users/[[userData.uid]]/friends" 
            data="{{friendData}}">
        </firebase-query>
        <firebase-query
            id="getFriend"
            app-name="nerdfit"
            path="users/[[thisFriend]]"
            data="{{friend}}">
        </firebase-query>

        <section>
            <div class="friend-list">
                <h2><iron-icon icon="social:people" title="Friend List"></iron-icon>Friends List</h2>
                <template is="dom-repeat" items="myFriends">

                </template>
                <ul>
                    <li>Bob Hope</li>
                    <li>Jimmy Durante</li>
                    <li>Carl Sagan</li>
                    <li>Ralph Wiggum</li>
                    <li>Steve Buscemi</li>
                    <li>Jimmy Fallon</li>
                </ul>
                <paper-button class="btn-primary" raised on-tap="toggleFindFriends"><iron-icon icon="social:person-add"></iron-icon>Find Friends</paper-button>
            </div>
            <paper-dialog id="findFriends" entry-animation="scale-up-animation" exit-animation="fade-out-animation" with-backdrop>
                <iron-form id="findFriend" on-iron-form-presubmit="formPreSubmit">
                    <form>
                        <paper-input id="email" label="Friends Email" type="text" min-length="2"></paper-input>
                        <paper-input id="firstName" label="First Name" type="text" min-length="2"></paper-input>
                        <paper-button on-tap="searchFriends" raised >Search</paper-button>
                    </form>
                </iron-form>
            </paper-dialog>
        </section>

    </template>
    <script>
        /**
         * @customElement
         * @polymer
         */
        class NfFriendCard extends Polymer.Element {
            static get is() {
                return 'nf-friend-card';
            }
            static get properties() {
                return {
                    userData: {
                        type: Object
                    },
                    friendData: {
                        type: Object
                    },
                    myFriends: {
                        type: Array
                    }
                }
            }
            static get observers() {
                return [
                    "_friendDataChanged(friendData.*)",
                    "myFriendsChanged(myFriends.*)"
                ]
            }
            toggleFindFriends() {
                
            }
            _friendDataChanged(friendData) {
                if(friendData.length > 0) {
                    doc = this.queryFriend;
                    for(var i = 0; i < friendData.length; i++) {
                        doc.path = "users/" + friendData[i];
                        doc.query().then((response) => {
                            this.myFriends.push(response);
                        }).catch((error) => {
                            console.log(error);
                        })
                    }
                }
            }
            _myFriendsChanged(myFriends) {
                console.log(myFriends);
            }
        }

        window.customElements.define(NfFriendCard.is, NfFriendCard);
    </script>
</dom-module>