<link rel="import" href="../../../bower_components/polymer/polymer-element.html">

<dom-module id="nf-footer">
    <template>
        <style include="nf-styles">
            :host{

            }
            * {
                max-height: 100%;
            }
            section {
                background: var(--blue);
            }
            .links{
                margin-right:1.5em;
            }

        </style>
        <section id="nf-footer">
            <nf-container justifycontent="space-between" align-items="center" paddingtop="40" paddingbottom="40" contained>
                <nf-grid columns="2" rows="2" singlecolumnbreakpoint="mobile">
                    <nf-tile fontcolor="inverse">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </nf-tile>
                    <nf-tile fontcolor="inverse">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </nf-tile>
                    <nf-tile fontcolor="inverse">
                        <p>Copyright © 2018 Nerdfit</p>
                    </nf-tile>
                    <nf-tile fontcolor="inverse">
                        <a class="inverse links" href="/home#contact-form">Contact</a>
                        <a class="inverse links" href="/">Terms & Conditions</a>
                        <a class="inverse links" href="/">Safety</a>
                    </nf-tile>
                </nf-grid>
            </nf-container>
        </section>
    </template>

    <script>
        /**
         * @customElement
         * @polymer
         */
        class NfFooter extends Polymer.Element {
            static get is() { return 'nf-footer'; }
        }

        window.customElements.define(NfFooter.is, NfFooter);
    </script>
</dom-module>