<link rel="import" href="../../../bower_components/polymer/polymer-element.html">

<dom-module id="nf-footer">
    <template>
        <style include="nf-styles">
            :host{
                width: 100%;
            }
            * {
                max-height: 100%;
            }
            #footerNav {
                background-color: var(--white);
                display: flex;
                border-top: 1px solid grey;
            }
            .menu-item {
                padding: .5em;
                width: 25%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                color: var(--blue);
                cursor: pointer;
            }
            .menu-item.active, .menu-item:hover{
                background-color:var(--light-blue);
            }
            .menu-icon {
                height: 32px;
                width: 32px;
                color: var(--blue);
            }
            #footerBottom {
                background: var(--blue);
            }
            .links{
                margin-right:1.5em;
            }
        </style>
        <section id="footerNav">
            <div class="menu-item active">
                <iron-icon icon="icons:dashboard" class="menu-icon"></iron-icon>
                <div>Dashboard</div>
            </div>
            <div class="menu-item">
                <iron-icon icon="maps:local-activity" class="menu-icon"></iron-icon>
                <div>Games</div>
            </div>
            <div class="menu-item">
                <iron-icon icon="social:people" class="menu-icon"></iron-icon>
                <div>Friends</div>
            </div>
            <div class="menu-item">
                <iron-icon icon="social:person" class="menu-icon"></iron-icon>
                <div>Profile</div>
            </div>
        </section>
        <section id="footerBottom">
            <nf-container justifycontent="space-between" align-items="center" paddingtop="8" paddingbottom="8" contained>
                <nf-tile fontcolor="inverse">
                    <p>Copyright © 2018 Nerdfit</p>
                </nf-tile>
                <!-- <nf-tile fontcolor="inverse" class="right">
                    <a class="inverse links" href="/home#contact-form">Contact</a>
                    <a class="inverse links" href="/">Terms & Conditions</a>
                    <a class="inverse links" href="/">Safety</a>
                </nf-tile> -->
            </nf-container>
        </section>
    </template>

    <script>
        /**
         * @customElement
         * @polymer
         */
        class NfFooter extends Polymer.Element {
            static get is() { return 'nf-footer'; }
        }

        window.customElements.define(NfFooter.is, NfFooter);
    </script>
</dom-module>