<link rel="import" href="../../../bower_components/polymer/polymer-element.html">

<dom-module id="nf-game-selection">
    <template>
        <style>
            :host {
                width: 100%;
                height: 100%;
                box-shadow: 0px 0px 8px 4px rgba(199,197,199,1);
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            section {
              display: flex;
              justify-content: flex-start;
              width: 100%;
            }
            .item {
              display: flex;
              flex-direction: column;
              width: 33%;
              position: relative;
            }
            .item img {
              max-width: 100%;
            }
            .item p {
              position: absolute;
              bottom: 10px;
              left: 10px;
              font-size: 1rem;
              font-weight: 600;
            }
            @media screen and (min-width:992px) {
              section {
                padding-left: 20px;
                padding-right: 20px;
              }
            }
        </style>
        <firebase-auth id="auth" app-name="nerdfit" user="{{user}}" on-error="handleError" signed-in="{{signedIn}}"></firebase-auth>
        <firebase-document
          id="query"
          app-name="nerdfit"
          path="/gameConstructors"
          data="{{games}}">
        </firebase-document>

        <section class="game-selection">
          <template is="dom-repeat" items="{{gamesArr}}">
            <div on-tap="selectGame" id="{{item.id}}" class="item" on-tap="selectGame">
              <img hidden="{{!item.imgSrc}}"  src="{{item.imgSrc}}"></img>
              <p>{{item.playersAvailable}} Player Max</p>
            </div>
          </template>
        </section>
        
    </template>
    <script>
        /**
         * @customElement
         * @polymer
         */
        class NfGameSelection extends Polymer.Element {
            static get is() { return 'nf-game-selection'; }
            static get properties() {
                return {
                  userData: Object,
                  games: Object,
                  gamesArr: Array
                }
            }
            static get observers() {
              return [
                  '_gamesChanged(games)'
              ]
            }
            _gamesChanged(games) {
              console.log(games);
              this.gamesArr =  Object.keys(games).map(key => games[key]);
              console.log(this.gamesArr);
            }
            selectGame(e) {
              console.log(e.currentTarget.id);
            }
        }

        window.customElements.define(NfGameSelection.is, NfGameSelection);

    </script>
</dom-module>