<link rel="import" href="../../../bower_components/polymer/polymer-element.html">

<dom-module id="nf-gamewrapper">
    <template>
        <style>
            :host {
                width: 100vw;
                height: 100%;
            }
        </style>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/jquery.gsap.min.js"></script>
        <slot></slot>
    </template>
    <script>
        /**
         * @customElement
         * @polymer
         */
        class NfGamewrapper extends Polymer.Element {
            static get is() { return 'nf-gamewrapper'; }
            static get properties() {
                return {

                }
            }
        }

        window.customElements.define(NfGamewrapper.is, NfGamewrapper);

    </script>
</dom-module>