<link rel="import" href="../../../bower_components/polymer/polymer-element.html">

<dom-module id="nf-game-selection">
    <template>
        <style>
            :host {
                width: 100%;
                height: 100%;
            }
            section {
              display: flex;
            }
            .item {
              display: flex;
              flex-direction: column;
              min-width: 33.3%;
            }
            @media screen and (min-width:992px) {
              section {
                padding-left: 20px;
                padding-right: 20px;
              }
            }
        </style>
        <!-- <firebase-auth id="auth" app-name="nerdfit" user="{{user}}" on-error="handleError" signed-in="{{signedIn}}"></firebase-auth> -->
        <firebase-document
          id="query"
          app-name="nerdfit"
          path="/gameConstructors"
          data="{{games}}">
        </firebase-document>

        <section class="game-selection">
          <template is="dom-repeat" items="{{gamesArr}}">
            <div class="item" on-tap="selectGame">
              <div>
                <h2>{{item.name}}</h2>
                <p>{{item.playersAvailable}} Player Max</p>
              </div>
              <!-- <iron-image src="{{item.imgSrc}}" preload sizing="cover" hidden="{{!item.imgSrc}}"></iron-image> -->
              
            </div>
          </template>
        </section>
        
    </template>
    <script>
        /**
         * @customElement
         * @polymer
         */
        class NfGameSelection extends Polymer.Element {
            static get is() { return 'nf-game-selection'; }
            static get properties() {
                return {
                  userData: Object,
                  games: Object,
                  gamesArr: Array
                }
            }
            static get observers() {
              return [
                  '_gamesChanged(games)'
              ]
            }
            _gamesChanged(games) {
              console.log(games);
              this.gamesArr =  Object.keys(games).map(key => games[key]);
              console.log(this.gamesArr);
            }
        }

        window.customElements.define(NfGameSelection.is, NfGameSelection);

    </script>
</dom-module>