<link rel="import" href="../../../bower_components/polymer/polymer-element.html">

<dom-module id="nf-game-menu">
    <template>
        <style>
            :host {
                width: 100vw;
                height: 100%;
            }

            #gameBar{
                width: 100%;
                height:50px;
                z-index: 999;
                position:fixed;
                bottom:0;
                left:0;
                background-color:rgba(255,255,255,0.9);
                text-align:center;
            }

            iron-icon{
                padding:20px;
                margin-top:-20px;
                border-top-left-radius: 50%;
                border-top-right-radius: 50%;
                background-color:rgba(0,0,0,0.1);
                --iron-icon-fill-color:black;
            }

            iron-icon:hover, iron-icon.active{
                --iron-icon-fill-color:white;
                cursor:pointer;
                background-color:rgba(0,0,0,0.75);
                padding:20px 20px 30px 20px;
                margin-top:-30px;
            }

            .touch-icon{
                --iron-icon-height: 40px;
                --iron-icon-width: 40px;
            }

            @media only screen and (min-width:720px) {
                :host{width:90vw;height:100%;margin:auto;}
            }

        </style>
        <div id="gameBar">
            <iron-icon icon="maps:map" title="Map" class="touch-icon active"></iron-icon>
            <iron-icon icon="icons:flag" title="Game Pieces" class="touch-icon"></iron-icon>
            <iron-icon icon="icons:account-circle" title="Profile" class="touch-icon"></iron-icon>
            <iron-icon icon="icons:star" title="Badges" class="touch-icon"></iron-icon>
        </div>
    </template>
    <script>
        /**
         * @customElement
         * @polymer
         */
        class NfGameMenu extends Polymer.Element {
            static get is() { return 'nf-game-menu'; }
            static get properties() {
                return {

                }
            }
        }

        window.customElements.define(NfGameMenu.is, NfGameMenu);

    </script>
</dom-module>