<link rel="import" href="../../../bower_components/polymer/polymer-element.html">

<dom-module id="nf-game-selection">
    <template>
        <style>
            :host {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            section {
              display: flex;
              justify-content: flex-start;
              width: 100%;
            }
            .item {
              display: flex;
              flex-direction: column;
              width: 33%;
              position: relative;
            }
            .item img {
              max-width: 100%;
            }
            .item p {
              position: absolute;
              bottom: 10px;
              left: 10px;
              font-size: 1rem;
              font-weight: 600;
            }
            @media screen and (min-width:992px) {
              section {
                padding-left: 20px;
                padding-right: 20px;
              }
            }
        </style>
        <!-- <firebase-auth id="auth" app-name="nerdfit" user="{{user}}" on-error="handleError" signed-in="{{signedIn}}"></firebase-auth> -->
        <!-- <firebase-document
          id="queryGames"
          app-name="nerdfit"
          path="/availableGames"
          data="{{games}}">
        </firebase-document> -->

        <section class="game-selection">
          <template is="dom-repeat" items="{{gamesArr}}">
            <div on-tap="selectGame" id="{{item.name}}" class="item" on-tap="selectGame">
              <img src="{{item.imgSrc}}" title="{{item.name}}"></img>
              <p>{{item.playersAvailable}} Player Max</p>
            </div>
          </template>
        </section>
        
    </template>
    <script>
        /**
         * @customElement
         * @polymer
         */
        class NfGameSelection extends Polymer.Element {
            static get is() { return 'nf-game-selection'; }
            static get properties() {
                return {
                  userData: Object,
                  gamesArr: {
                    type: Array,
                    observer: '_gamesArrChanged'
                  }
                }
            }
            static get observers() {
              return [
                  '_gamesArrChanged(gamesArr)'
              ]
            }
            _gamesArrChanged(gamesArr) {
              console.log(gamesArr);
            }
            selectGame(e) {
              console.log(e.currentTarget.id);
            }
        }

        window.customElements.define(NfGameSelection.is, NfGameSelection);

    </script>
</dom-module>