<link rel="import" href="../../../bower_components/polymer/polymer-element.html">

<dom-module id="nf-profile-card">
    <template>
        <style include="nf-styles">
             :host {
                width: 100%;
                height: 100%;
                box-shadow: 0px 0px 8px 4px rgba(199,197,199,1);
            }
            section.profile-section {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                width: 100%;
                padding:1em;
            }
            .image {
                border-radius: 50%;
                margin-right: 10px;
                width: 100px;
                height: 100px;
                overflow: hidden;
            }
            .main-content {
                display: flex;
                flex-direction: row;
                margin-bottom: 20px;
            }
            .user-info {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
            }
            label.inline {
                width: unset;
                text-align: left;
            }
            iron-image {
                width: 150px;
                height: 200px;
            }
        </style>

        <firebase-storage-ref id="storageShiz"
            path="users/[[userData.uid]]" 
            metadata="{{metadata}}" 
            storage-uri="{{gsUri}}" 
            download-url="{{downloadUrl}}"
            on-metadata-changed="_dlUrlChange">
        </firebase-storage-ref>

        <section class="profile-section">
            <div class="main-content">
                <div class="image">
                    <iron-image src="{{userData.imgSrc}}" sizing="cover"></iron-image>
                </div>
                <div class="user-info">
                    <h3>{{userData.screenName}}</h2>
                    <h4>{{userData.firstName}} {{userData.lastName}} <iron-icon class="lighter" icon="icons:create" title="Edit Username"></iron-icon></h3>
                </div>
            </div>
            <div class="data">
                <p><label class="inline">Steps:</label> {{userData.steps}} 100000000</p>
                <p><label class="inline">Floors:</label> {{userData.floors}} 334</p>
            </div>
        </section>
    </template>
    <script>
        /**
         * @customElement
         * @polymer
         */
        class NfProfileCard extends Polymer.Element {
            static get is() {
                return 'nf-profile-card';
            }
            static get properties() {
                return {
                    userData: {
                        type: Object,
                        observer: "_userDataChange"
                    }
                }
            }
            ready() {
                super.ready();

            }
            _userDataChange(newVal) {
                
            }
        }

        window.customElements.define(NfProfileCard.is, NfProfileCard);
    </script>
</dom-module>