<link rel="import" href="../../../bower_components/polymer/polymer-element.html">

<dom-module id="nf-profile-card">
    <template>
        <style include="nf-styles">
             :host {
                width: 100%;
                height: 100%;
                /* box-shadow: 0px 0px 8px 4px rgba(199,197,199,1); */
            }
            .image {
                border-radius: 50%;
                margin-right: 10px;
                width: 100px;
                height: 100px;
                overflow: hidden;
            }

            .main-content {
                display: flex;
                flex-direction: row;
                margin-bottom: 20px;
            }
            .user-info {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
            }
            label.inline {
                width: unset;
                text-align: left;
            }
            iron-image {
                width: 150px;
                height: 200px;
            }
            #editIcon{
                float:right;
                width:2.5em;
                height:2.5em;
                border-radius:50%;
                background-color:var(--blue);
                --iron-icon-fill-color: white;
                text-align: center;
                padding-top:.35em;
            }
        </style>

        <!-- <firebase-storage-ref id="storageShiz"
            path="users/[[userData.uid]]" 
            metadata="{{metadata}}" 
            storage-uri="{{gsUri}}" 
            download-url="{{downloadUrl}}"
            on-metadata-changed="_dlUrlChange">
        </firebase-storage-ref> -->

        <section class="profile-section">
            <div class="cardHead"><iron-icon icon="social:sentiment-satisfied" title="Edit Profile"></iron-icon> My Profile</div>
            <section class="cardBody">
                <div class="main-content">
                    <div class="image">
                        <iron-image src="{{userData.imgSrc}}" sizing="cover"></iron-image>
                    </div>
                    <div class="user-info">
                        <h3>{{userData.screenName}}</h2>
                            <ul class="pretty">
                                <li>{{userData.firstName}} {{userData.lastName}}</li>
                                <li>{{userData.email}}</li>
                                <li>{{userData.birthday}}</li>
                                <li><span class="capitalize">{{userData.gender}}</span></li>
                            </ul>
                    </div>
                </div>
                <div class="data">
                    <ul class="pretty">
                        <li><label class="inline">Total Friends:</label> {{userData.friends.length}}</li>
                        <li><label class="inline">Total Steps:</label> {{userData.steps}} 100000000</li>
                    </ul>
                </div>
                <div id="editIcon"><iron-icon class="link" icon="icons:create" title="Edit Profile"></iron-icon></div>
            </section>
        </section>
    </template>
    <script>
        /**
         * @customElement
         * @polymer
         */
        class NfProfileCard extends Polymer.Element {
            static get is() {
                return 'nf-profile-card';
            }
            static get properties() {
                return {
                    userData: {
                        type: Object,
                        observer: "_userDataChange"
                    }
                }
            }
            ready() {
                super.ready();

            }
            _userDataChange(newVal) {
                
            }
        }

        window.customElements.define(NfProfileCard.is, NfProfileCard);
    </script>
</dom-module>