<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="./nf-gender-select.html">

<dom-module id="nf-signup">
  <template>
    <style include="nf-styles">
      .signup-form {
        background-color: var(--white);
        padding: 20px;
        border-radius: 2%;
        display: flex;
        flex-direction: column;
      }

      nf-gender-select {
        margin-top: 13px;
      }

      .checkbox-group {
        padding-bottom: 0;
      }
    </style>
    <firebase-auth id="auth" 
      app-name="nerdfit" 
      user="{{user}}" 
      on-error="handleError" 
      signed-in="{{signedIn}}">
    </firebase-auth>
    <firebase-document 
      id="query" 
      app-name="nerdfit">
    </firebase-document>
    <!-- <firebase-storage-ref 
      id="photo" 
      app-name="nerdfit">
    </firebase-storage-ref>
    <firebase-storage-upload-task
      task="[[task]]"
      bytes-transferred="{{bytesTransferred}}"
      total-bytes="{{totalBytes}}"
      state="{{state}}"
      download-url="{{downloadUrl}}"
      metadata="{{metadata}}"
      path="{{path}}">
    </firebase-storage-upload-task> -->

    <div class="signup-form">
      <iron-form id="signupForm" on-iron-form-presubmit="formPreSubmit">
        <h3>Don't have an account?
          <br>Start playing today!</h3>
        <form>
          <block>
            <label for="firstName">First Name</label>
            <input type="text" name="firstName" id="firstName" required />
          </block>
          <block>
            <label for="lastName">Last Name</label>
            <input type="text" name="lastName" id="lastName" required />
          </block>
          <block>
            <label for="dateOfBirth">Date of Birth</label>
            <input type="date" name="dateOfBirth" id="dateOfBirth" required />
          </block>
          <block class="checkbox-group">
            <nf-gender-select id="gender-select" gender="{{gender}}"></nf-gender-select>
          </block>
          <block>
            <label for="email">Email</label>
            <input type="email" name="email" id="email" required />
          </block>
          <!-- Will add in screen name a bit later, but really want them unique if we are going to have them. -->
          <!-- <block>
            <label for="screenName">Screen Name</label>
            <div>(This name will appear on leaderboards, etc.)</div>
            <input type="text" name="screenName" id="screenName" required />
          </block> -->
          <block>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" required min-length="8" />
          </block>

          <paper-button class="btn-conversion" on-tap="submitSignup" raised>Sign Up</paper-button>
        </form>
      </iron-form>
      <paper-dialog id="addPhoto" with-backdrop>
        <h2>For a better experience<br><small>upload a profile photo!</small></h2>
        <input id="takePhoto" type="file" name="image" accept="image/*" capture="environment">
      </paper-dialog>
    </div>
  </template>
  <script>
    class NfSignup extends Polymer.Element {
      static get is() {
        return 'nf-signup';
      }
      static get properties() {
        return {
          gender: String
        }
      }
      addUser(path, data, key) {
        key = key || null;
        var doc = this.$.query;
        doc.path = null;
        doc.data = data;
        doc.saveValue().then(() => {
          /******************************/
          /**  TODO: The comments are  **/
          /** for future when we allow **/
          /**  for user Images         **/
          /******************************/
          // var photo = this.$.photo;
          // var file = "../assets/images/noImg.png";
          // photo.path = "nerdfit-app.appspot.com/"
          // photo.storageUri = path + "/" + key+ "/";
          // photo.put(file, '');
          // this.$.addPhoto.open();
          window.location.pathname = "dashboard";
        }).catch(function (error) {
          console.log(error);
        })

      }
      submitSignup() {
        var user = {};
        var gender = this.gender;
        var email = this.$.email.value;
        var password = this.$.password.value;
        var firstName = this.$.firstName.value;
        var lastName = this.$.lastName.value;
        var screenName = this.$.screenName.value;
        var birthday = this.$.dateOfBirth.value;
        if (email && password) {
          this.$.auth.createUserWithEmailAndPassword(email, password)
            .then((response) => {
              console.log(response);
              user.email = email;
              user.firstName = firstName;
              user.lastName = lastName;
              user.gender = gender;
              user.birthday = birthday;
              this.addUser("users", user, response.uid)
            })
            .catch(function (error) {
              console.log(error);
            });
        }
      }
    }

    window.customElements.define(NfSignup.is, NfSignup);
  </script>
</dom-module>