<link rel="import" href="../../../bower_components/polymer/polymer-element.html">

<dom-module id="nf-signup">
  <template>
    <style include="nf-styles">
      .signup-form {
        background-color: var(--white);
        padding: 20px;
        border-radius: 2%;
        display: flex;
        flex-direction: column;
      }
      .checkbox-group {
        max-width: 100%;
        display: flex;
      }
      .checkbox-group input {
        width: 20px;
      }
      .checkbox-group input:not(nth-child(1n)) {
        margin-left: 5px;
      }
    </style>
    <firebase-auth id="auth" app-name="nerdfit" user="{{user}}" on-error="handleError" signed-in="{{signedIn}}"></firebase-auth>
    <firebase-document id="query" app-name="nerdfit" path="/users/[[user.uid]]" data="{{userData}}">
    </firebase-document>

    <div class="signup-form">
      <iron-form id="signupForm" on-iron-form-presubmit="formPreSubmit">
        <h3>Don't have an account?
          <br>Start playing today!</h3>
        <form>
          <block>
            <label html-for="firstName">First Name</label>
            <input type="text" name="firstName" id="firstName" required />
          </block>
          <block>
            <label html-for="lastName">Last Name</label>
            <input type="text" name="lastName" id="lastName" required />
          </block>
          <block>
            <label html-for="dateOfBirth">Date of Birth</label>
            <input type="date" name="dateOfBirth" id="dateOfBirth" required />
          </block>
          <block class="checkbox-group">
            <input type="radio" name="gender" value="male"> Male
            <input type="radio" name="gender" value="female"> Female
            <input type="radio" name="gender" value="other"> Other
          </block>
          <block>
            <label html-for="password">Password</label>
            <input type="text" name="password" id="password" required min-length="8" />
          </block>
          <block>
              <label html-for="email">Screen Name</label>
              <input type="text" name="email" id="email" required />
            </block>
          <paper-button class="btn-conversion" on-tap="submitSignup" raised>Sign Up</paper-button>
        </form>
      </iron-form>
    </div>
  </template>
  <script>
    class NfSignup extends Polymer.Element {
      static get is() {
        return 'nf-signup';
      }
      static get properties() {
        return {

        }
      }
      submitSignup() {
        var user = {};
        var email = this.$.email.value;
        var password = this.$.password.value;
        var firstName = this.$.firstName.value;
        var lastName = this.$.lastName.value;
        var screenName = this.$.screenName.value;
        if (email && password) {
          this.$.auth.createUserWithEmailAndPassword(email, password)
            .then((response) => {
              user.email = email;
              user.firstName = firstName;
              user.lastName = lastName;
              user.screenName = screenName;
              this.addUser("users", user, response.uid)
                .then(() => {
                  window.location.pathname = "dashboard";
                })
                .catch((error) => {
                  console.log(error);
                });
            })
            .catch(function (error) {
              console.log(error);
            });
        }
      }
    }

    window.customElements.define(NfSignup.is, NfSignup);
  </script>
</dom-module>