<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../components/nf-badge.html">

<dom-module id="nf-trophy-case-card">
    <template>
        <style include="nf-styles">
             :host {
                width: 100%;
                height: 100%;
                box-shadow: 0px 0px 8px 4px rgba(199,197,199,1);
            }

            h2 iron-icon{
                --iron-icon-height: calc(var(--base-font-size) + calc(var(--font-step) * 3.5));
                --iron-icon-width: calc(var(--base-font-size) + calc(var(--font-step) * 3.5));
            }
            .trophy-case{
                margin: 0px auto;
                text-align: center;
            }

        </style>

        <section>
            <div class="trophy-case">
                <h2><iron-icon icon="icons:stars" title="Trophy Case"></iron-icon>Trophy Case</h2>
                <div class="badge-container">
                    <!-- <template is="dom-repeat" items="{{userBadges}}">
                    <nf-badge  badge-id="{{userBadges.id}}" badge-name="userBadges.name"></nf-badge>
                </template> -->
                
                <nf-badge badge-color="silver" badge-id="ticket_to_run_250" badge-name="Played Ticket to Run 250 Times"></nf-badge>
                <nf-badge badge-color="bronze" badge-id="star_500" badge-name="Play 500 games"></nf-badge>
                <nf-badge badge-color="gold" badge-id="friend_5" badge-name="Have 5 friends"></nf-badge>
                </div>

            </div>
        </section>

    </template>
    <script>
        /**
         * @customElement
         * @polymer
         */
        class NftrophyCaseCard extends Polymer.Element {
            static get is() {
                return 'nf-trophy-case-card';
            }
            static get properties() {
                return {
                    userData: {
                        type: Object,
                        observer: "_userDataChange"
                    },
                    badges: {
                        type: Array,
                        observer: "_badgesChange"
                    },
                    userBadges: {
                        type: Array,
                        notify: true,
                        observer: "_userBadgesChange"
                    }
                }
            }
            ready() {
                super.ready();

            }
            _userBadgesChange(newVal) {
                console.log("userBadges ", newVal);
            }
            _badgesChange(badges) {
                if(badges) {
                    if(this.userData.achievements.badges) {
                        var userTempBadges = this.userData.achievements.badges;
                        for(var i = 0; i < userTempBadges.length; i++) {
                            for(var x = 0; x < badges.length; x++) {
                                if(userTempBadges[i] === badges[x].length) {
                                    this.push('userBadges', badges[x]);
                                }
                            }
                        }
                    }
                }
                console.log(badges);
            }
            _userDataChange(newVal) {
                
            }
        }

        window.customElements.define(NftrophyCaseCard.is, NftrophyCaseCard);
    </script>
</dom-module>