<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../components/nf-badge.html">

<dom-module id="nf-trophy-case-card">
    <template>
        <style include="nf-styles">
             :host {
                width: 100%;
                height: 100%;
                box-shadow: 0px 0px 8px 4px rgba(199,197,199,1);
            }

            h2 iron-icon{
                --iron-icon-height: calc(var(--base-font-size) + calc(var(--font-step) * 3.5));
                --iron-icon-width: calc(var(--base-font-size) + calc(var(--font-step) * 3.5));
            }
            .trophy-case{
                margin: 0px auto;
                text-align: center;
            }

        </style>

        <firebase-storage-ref id="storageShiz"
            path="users/[[userData.uid]]" 
            metadata="{{metadata}}" 
            storage-uri="{{gsUri}}" 
            download-url="{{downloadUrl}}"
            on-metadata-changed="_dlUrlChange">
        </firebase-storage-ref>

        <section>
            <div class="trophy-case">
                <h2><iron-icon icon="icons:stars" title="Trophy Case"></iron-icon>Trophy Case</h2>
                <nf-badge badge-color="gold" badge-id="trophy_silver_5" badge-name="Won Silver in 5 games"></nf-badge>
                <nf-badge badge-color="silver" badge-id="ticket_to_run_250" badge-name="Played Ticket to Run 250 Times"></nf-badge>
                <nf-badge badge-color="bronze" badge-id="star_500" badge-name="Play 500 games"></nf-badge>
                <nf-badge badge-color="gold" badge-id="friend_5" badge-name="Have 5 friends"></nf-badge>
            </div>
        </section>

    </template>
    <script>
        /**
         * @customElement
         * @polymer
         */
        class NftrophyCaseCard extends Polymer.Element {
            static get is() {
                return 'nf-trophy-case-card';
            }
            static get properties() {
                return {
                    userData: {
                        type: Object,
                        observer: "_userDataChange"
                    }
                }
            }
            ready() {
                super.ready();
                console.log("hello");
            }
            _userDataChange(newVal) {
                console.log(newVal);
            }
        }

        window.customElements.define(NftrophyCaseCard.is, NftrophyCaseCard);
    </script>
</dom-module>