<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../components/nf-badge.html">

<dom-module id="nf-trophy-case-card">
    <template>
        <style include="nf-styles">
             :host {
                width: 100%;
                height: 100%;
                box-shadow: 0px 0px 8px 4px rgba(199,197,199,1);
            }

            h2 iron-icon{
                --iron-icon-height: calc(var(--base-font-size) + calc(var(--font-step) * 3.5));
                --iron-icon-width: calc(var(--base-font-size) + calc(var(--font-step) * 3.5));
            }
            .trophy-case{
                margin: 0px auto;
                text-align: center;
                padding:1em;
            }

        </style>

        <section>
            <div class="trophy-case">
                <h2><iron-icon icon="icons:stars" title="Trophy Case"></iron-icon>Trophy Case</h2>
                <div class="badge-container">
                    <template is="dom-repeat" items="{{userData.badges}}">
                        <nf-badge  badge-id="{{item.id}}" badge-name="{{item.name}}"></nf-badge>
                    </template>
                </div>

            </div>
        </section>

    </template>
    <script>
        /**
         * @customElement
         * @polymer
         */
        class NftrophyCaseCard extends Polymer.Element {
            static get is() {
                return 'nf-trophy-case-card';
            }
            static get properties() {
                return {
                    userData: {
                        type: Object,
                        observer: "_userDataChange"
                    },
                    badges: Array
                }
            }
            ready() {
                super.ready();

            }
            _userDataChange(newVal) {
                
            }
        }

        window.customElements.define(NftrophyCaseCard.is, NftrophyCaseCard);
    </script>
</dom-module>