<link rel="import" href="../../../bower_components/polymer/polymer-element.html">

<dom-module id="home-view">
    <template>
        <style include="shared-styles">
            :host {
                display: flex;
                flex-direction: column;
            }
            *{margin: 0; padding: 0;}
        </style>
        <nf-hero backgroundimage="src/nerdfit-app/assets/images/nf-logo-bg.jpg" isFiltered="true">
            <template is="dom-if" if="{{hide}}">
                <nf-login id="nfLoginForm"></nf-login>
            </template>
            <nf-container align-content="center">
                <h1>Nerding has never been so fun</h1>
            </nf-container>
        </nf-hero>
        <nf-container paddingtop="80" paddingbottom="80" direction="column">
            <nf-grid columns="12" singlecolumnbreakpoint="tablet" margin="0 auto 40px">
                <nf-tile x="3" xspan="8">
                    <h2>It's time to use your greatest strength against your greatest weakness <span style="font-weight: 100; font-size: .75em;">(it's super effective!)</span></h2>
                </nf-tile>
            </nf-grid>
            <nf-grid columns="2" singlecolumnbreakpoint="mobile">
                <nf-tile>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium delectus eligendi, et natus odit officiis reprehenderit voluptatum? Aspernatur commodi, dolores ducimus expedita id laboriosam, laudantium necessitatibus, non sunt tempora tenetur.
                    </p>
                </nf-tile>
                <nf-tile>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis et laborum magni modi officiis praesentium recusandae rerum sint totam ullam? Cupiditate ducimus recusandae reiciendis. Ea facilis odio placeat recusandae sint.
                    </p>
                </nf-tile>
            </nf-grid>
        </nf-container>
    </template>

    <script>
        class HomeView extends Polymer.Element {
            static get is() { return 'home-view'; }
            static get properties() {
                return {
                    hide: {
                        type: Boolean,
                        value: false,
                        notify: true
                    }
                }
            }
        }

        window.customElements.define(HomeView.is, HomeView);
    </script>
</dom-module>