<link rel="import" href="../bower_components/polymer/polymer-element.html">

<dom-module id="user-dash.html">
    <template>
        <style include="shared-styles">
            :host {
                display: flex;
                flex-direction: column;
            }
        </style>

    </template>

    <script>
        class UserDash extends Polymer.Element {
            static get is() { return 'user-dash'; }
        }

        window.customElements.define(UserDash.is, UserDash);
    </script>
</dom-module>